@import './base.scss';

.vocenButton {
  width: 120rpx;
  height: 40rpx;
  text-align: center;
  border-radius: 16rpx;
  line-height: 40rpx;
  font-size: 12px;
  color: #ffffff;
  background-color: $color-black;
}

.bg-primary {
}
